<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right"></h6>
    <h1 class="text-capitalize text-center">Purchase</h1>
    <h3 class="text-center">Main Outlet</h3>
    <hr/>
      <p class="text-justify"></p>
  </div>
  <div class="col-md-1"></div>
	
	<label for="Code">Code:</lable>
	<input type="text" id="Code"code="">

	<label for="Item Name">Item Name:</lable>
	<input type="text" id="Item Name"name="">
	
	<br>
	<br>
	

	
 <table border ="1" >

<tr> 
	<td width ="100" height ="20"> Code </td> 
	<td width = "100">Item name </td> 
	<td width = "100">Unit price </td> 
	<td width = "100"> Available quantity </td> 
</tr>

     
<tr>   
    <td height = "20" > </td>       
	<td></td> <td height = "20" > 
	<td height = "20" >
</tr>

     
<tr>   
	<td height = "20" > </td>	
	<td></td> <td height = "20" ><td height = "20" >
</tr>


<tr> 
	 <td height = "20" > </td>	
	 <td></td> <td height = "20" >
	 <td height = "20" >
</tr>


	<br>
	<br>


<table border ="1">

<tr> 
	<td width ="100" height ="20"> Code </td>
	<td width = "100"> Item name</td> 
	<td width = "100">Quantity </td>	
	<td width = "100"> Totale Price </td> 
</tr>


<tr> 
	<td height = "20" ></td>	
	<td></td> <td height = "20">
	<td height = "20" >
</tr>


<tr>
	 <td height = "20" > </td>
	 <td> </td> <td height = "20" >
	 <td height = "20" >
</tr>


<tr>	
	<td height = "20" > </td>	
	<td> </td> <td height = "20" > 
	<td height = "20" >
</tr>


 	
<h4>Purchase Items</h4>

	</div>

</table boader ="1" align = "center"> 

	<br>
	<br>
	<br>
	
	<button type="button" class="btn btn-proceed">Proceed</button>
	<button type="button"class="btn btn-cancel">Cancel</button>
	<button type="button" class="btn btn-back">Back</button>


	
