<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseItems">
            <h2><span>Purchase Items</span> {{ purchaseItems.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Unit Price</span></dt>
                <dd>
                    <span>{{ purchaseItems.unitPrice }}</span>
                </dd>
                <dt><span>Quantity</span></dt>
                <dd>
                    <span>{{ purchaseItems.quantity }}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{ purchaseItems.total }}</span>
                </dd>
                <dt><span>Item Code</span></dt>
                <dd>
                    <div *ngIf="purchaseItems.itemCode">
                        <a [routerLink]="['/inventory', purchaseItems.itemCode?.id, 'view']">{{ purchaseItems.itemCode?.itemCode }}</a>
                    </div>
                </dd>
                <dt><span>Purchase Code</span></dt>
                <dd>
                    <div *ngIf="purchaseItems.purchaseCode">
                        <a [routerLink]="['/purchases', purchaseItems.purchaseCode?.id, 'view']">{{ purchaseItems.purchaseCode?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-items', purchaseItems.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
