<div>
    <h2 id="page-heading">
        <span>Purchase Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-purchase-items" [routerLink]="['/purchase-items/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Purchase Items
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="purchaseItems?.length === 0">
        <span>No purchaseItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="purchaseItems && purchaseItems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="unitPrice"><span>Unit Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span>Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="itemCode.itemCode"><span>Item Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="purchaseCode.id"><span>Purchase Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let purchaseItems of purchaseItems ;trackBy: trackId">
                    <td><a [routerLink]="['/purchase-items', purchaseItems.id, 'view']">{{ purchaseItems.id }}</a></td>
                    <td>{{ purchaseItems.unitPrice }}</td>
                    <td>{{ purchaseItems.quantity }}</td>
                    <td>{{ purchaseItems.total }}</td>
                    <td>
                        <div *ngIf="purchaseItems.itemCode">
                            <a [routerLink]="['/inventory', purchaseItems.itemCode?.id, 'view']" >{{ purchaseItems.itemCode?.itemCode }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="purchaseItems.purchaseCode">
                            <a [routerLink]="['/purchases', purchaseItems.purchaseCode?.id, 'view']" >{{ purchaseItems.purchaseCode?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/purchase-items', purchaseItems.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/purchase-items', purchaseItems.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(purchaseItems)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
