<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <h2 class="text-left">Purchase Stocks</h2>

        <div class="form-group">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="col-form-label">Item Name : </label>
                    <input class="form-control" type="text" [(ngModel)]="itemName" (input)="search()"> <label
                    class="space"></label>
                </div>
                <div class="col-md-3">
                    <label class="col-form-label">Item Code : </label>
                    <input class="form-control" type="text" [(ngModel)]="code" (input)="search()"> <label
                    class="space"></label>
                </div>
            </div>
            <br>


            <!--search-->
            <h6>Matches : </h6>
            <div class="table-responsive my-container" id="matches">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Available Quantity</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of searchItems" class="table-secondary">
                        <td>{{item.itemCode}}</td>
                        <td>{{item.itemName}}</td>
                        <td>{{item.buyingPrice}}</td>
                        <td>{{item.quantity}}</td>
                        <td>
                            <button class="btn-sm btn-primary" (click)="addToCart(item)">Add</button>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
            <!-- /search -->
            <br>
            <!-- cart -->
            <h6>Cart : </h6>
            <div class="table-responsive my-container" id="cart">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Item ID</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of purchaseData.cart" class="table-secondary">
                        <td>{{item.itemCode.itemCode}}</td>
                        <td>{{item.unitPrice}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <button class="btn-danger btn-sm" (click)="purchaseData.removeFromCart(item)">Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
            <!--        /cart -->
            <br>
        </div>

        <!--        buttons-->
        <button class="btn btn-secondary" [routerLink]="['']">Cancel</button>
        <button class="btn btn-primary" [routerLink]="['../vendor/new']">Proceed</button>

    </div>
    <div class="col-md-1"></div>
</div>

