<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="text-left">Purchase Stocks</h2>

      <div class="form-group">
          <div class="row">
<!--              <h3 class="text-left">Add to Cart</h3>-->
              <!--          <h4 class="text-right">{{message}}</h4>-->
          </div>
          <div class="row">
              <div class="col-md-3">
                  <label class="col-form-label">Item Name : </label>
                  <input class="form-control" type="text" value="Item"> <label class="space"></label>
              </div>
              <!--          <div class="col-md-1"></div>-->
              <div class="col-md-3">
                  <label class="col-form-label">Item Code : </label>
                  <input class="form-control" type="text"> <label class="space"></label>
              </div>
          </div>

          <label class="col-form-label col-form-label-sm">Matches : </label>
          <table class="table table-hover">
              <thead>
              <tr>
                  <th scope="col">Item ID</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Available Quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>001</td>
                  <td>Item 1</td>
                  <td>Rs.10</td>
                  <td>10000</td>
              </tr>

              <tr class="table-secondary" (click)="addToCart()">
                  <td>002</td>
                  <td>Item 2</td>
                  <td>Rs.30</td>
                  <td>1000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>003</td>
                  <td>Item 3</td>
                  <td>Rs.90</td>
                  <td>12000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>004</td>
                  <td>Item 4</td>
                  <td>Rs.120</td>
                  <td>1000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>005</td>
                  <td>Item 5</td>
                  <td>Rs.100</td>
                  <td>100000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>006</td>
                  <td>Item 6</td>
                  <td>Rs.200</td>
                  <td>20000</td>
              </tr>
              </tbody>
          </table>

      </div>


  </div>
  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2 class="text-left">Purchase Stocks</h2>

      <div class="form-group">
          <div class="row">
<!--              <h3 class="text-left">Add to Cart</h3>-->
              <!--          <h4 class="text-right">{{message}}</h4>-->
          </div>
          <div class="row">
              <div class="col-md-3">
                  <label class="col-form-label">Item Name : </label>
                  <input class="form-control" type="text" value="Item"> <label class="space"></label>
              </div>
              <!--          <div class="col-md-1"></div>-->
              <div class="col-md-3">
                  <label class="col-form-label">Item Code : </label>
                  <input class="form-control" type="text"> <label class="space"></label>
              </div>
          </div>

          <label class="col-form-label col-form-label-sm">Matches : </label>
          <table class="table table-hover">
              <thead>
              <tr>
                  <th scope="col">Item ID</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Available Quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>001</td>
                  <td>Item 1</td>
                  <td>Rs.10</td>
                  <td>10000</td>
              </tr>

              <tr class="table-secondary" (click)="addToCart()">
                  <td>002</td>
                  <td>Item 2</td>
                  <td>Rs.30</td>
                  <td>1000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>003</td>
                  <td>Item 3</td>
                  <td>Rs.90</td>
                  <td>12000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>004</td>
                  <td>Item 4</td>
                  <td>Rs.120</td>
                  <td>1000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>005</td>
                  <td>Item 5</td>
                  <td>Rs.100</td>
                  <td>100000</td>
              </tr>
              <tr class="table-secondary" (click)="addToCart()">
                  <td>006</td>
                  <td>Item 6</td>
                  <td>Rs.200</td>
                  <td>20000</td>
              </tr>
              </tbody>
          </table>

      </div>


  </div>
  <div class="col-md-1"></div>
</div>
