<jhi-page-ribbon></jhi-page-ribbon>


<router-outlet name="navbar"></router-outlet>


<div class="wrapper">
    <!--    side bar-->
    <div class="col-md-2 sidebarcolor">
        <span class="logo img-fluid rounded"></span>
    </div>

    <div class="formContainer">
        <div class="col-md-12 ">
            <div class="card jh-card">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--content-->
        <!--        <jhi-footer></jhi-footer>-->
    </div>
</div>

<style>


</style>
