<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
            <h1>Siwilima Home</h1>
        <hr>
        <br>
    </div>
</div>

<!--row 1-->
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="container" align="center">
            <div class="row">
                <div class="col-md">
                    <span [routerLink]="['purchase-menu']" class="purchases img-fluid rounded"><br><br><br><br><br><h6>Purchases</h6></span>
                </div>

                <div class="col-md">
                    <span [routerLink]="['sales-menu']" class="sales img-fluid rounded "><br><br><br><br><br><h6>Sales</h6></span>
                </div>

                <div class="col-md">
                    <span [routerLink]="['returns-menu']" class="returns img-fluid rounded "><br><br><br><br><br><h6>Returns</h6></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<!--row 2-->
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="container" align="center">
            <div class="row">

                <div class="col-md">
                    <span [routerLink]="['notifications']" class="notifications img-fluid rounded "><br><br><br><br><br><h6>Notifications</h6></span>
                </div>

                <div class="col-md">
                    <span class="settings img-fluid rounded "><br><br><br><br><br><h6>Settings</h6></span>
                </div>


                <div class="col-md">
                    <span [routerLink]="['inventory']" class="stocks img-fluid rounded "><br><br><br><br><br><h6>Stocks</h6></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<!--row 3-->
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="container" align="center">
            <div class="row">
                <div class="col-md" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <span [routerLink]="['admin-menu']" class="analytics img-fluid rounded "><br><br><br><br><br><h6>Admin Dashboard</h6></span>
                </div>

<!--                <div class="col-md">-->
<!--                    <span [routerLink]="['']" class="history img-fluid rounded "><br><br><br><br><br><h6>History</h6></span>-->
<!--                </div>-->


                <div class="col-md">
                    <span class="logout img-fluid rounded " *jhiHasAnyAuthority="'ROLE_USER'" (click)="logout()"><br><br><br><br><br><h6>Logout</h6></span>
                </div>
                
            </div>
        </div>
    </div>
</div>
