<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
            <h1>Siwilima Home</h1>
        <hr>
        <br>
    </div>
</div>

<!--row 1-->
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="container" align="center">
            <div class="row">
                <div class="col-md">
                    <span class="purchases img-fluid rounded "><br><br><br><br><br><h6>Purchases</h6></span>
                </div>

                <div class="col-md">
                    <span class="sales img-fluid rounded "><br><br><br><br><br><h6>Sales</h6></span>
                </div>

                <div class="col-md">
                    <span class="returns img-fluid rounded "><br><br><br><br><br><h6>Returns</h6></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br>
