<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
	<style>
	header {

  padding: 25px;
  text-align: left;
  font-size: 25px;
  color: Black;
}
div.a {
  text-align: right;
}

.combo{
padding:10px;
}

footer {
  padding: 10px;
  text-align: center;
  color: Black;
}
        </style>
</head>
<body>
<header>
    <div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-center">Sales</h1>
<div class="a">
    <h2 class="text-center">Direct Sales</h2>
    <hr/>
</div>
</header>
         <p class="text-justify">Customer Details</p>
  </div>
  <div class="col-md-1"></div>
</div>
        
        
        <form>
  <fieldset>
<div class="form-group">
  <label class="col-form-label" for="inputName">Name :</label>
  <input type="text" class="form-control" >
</div>

<div class="form-group">
  <label class="col-form-label" for="inputp_no">Phone :</label>
  <input type="text" class="form-control" >
</div>

    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email :</label>
       <input type="text" readonly="" class="form-control-plaintext">
      </div>
	  
	  <div class="form-group">
  <label class="col-form-label" for="inputAddress">Address :</label>
  <input type="text" class="form-control" >
</div>

<form action="/action_page.php">
  <label for="cars">Payment Method:</label>
  <select id="method" name="method">
    <option value="cash">Cash</option>
    <option value="checks">checks</option>
    </select>
 
</form>
    
	<footer>
<button style="background-color: skyblue;"
	        type="button" Value= "submit">
	     Proceed
  </button>
  <button style="background-color: skyblue;"
	        type="button" value= "reset the form">
	     Cancel
  </button>
  <button style="background-color: skyblue;"
	        type="button" value="cancel">
	     Back
  </button>
   </footer>
</body>
</html>

   
