<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-capitalize text-left">Sales</h1>
    <h2 class="text-center">Direct Sales</h2>
      <h5 class="text-left">Customer Deatils</h5>
      <div class="text-align right">
    <hr/>
</div>
  <div class="form-group">     
    <form>
        <label class="col-form-label">Name :</label>
        <input type="text" class="form-control" >

        <label class="col-form-label">Phone :</label>
        <input type="text" class="form-control" >

        <label F class="col-form-label">Email :</label>
        <input type="text" class="form-control">
	  
     <label class="col-form-label">Address :</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          <br>
        <label>Payment Method:</label>
          <select class="form-control">
              <option>Card</option>
              <option>Cash</option>
          </select>
      </form>

    </div>
         <br>
<!--buttons-->
      <button type="button" class="btn btn-secondary">Back</button>
      <button type="button" class="btn btn-danger">Cancel</button>
      <button type="button" class="btn btn-primary">Proceed</button>
<!-- /buttons -->
  </div>
  <div class="col-md-1"></div>
</div>

